In [ ]:
print(10)
print("Stelios")
print("London","Paris")

10
Stelios
London Paris

In [ ]:
print(10*2)

20

In [ ]:
input("Enter your name: ")

Enter your name: Stelios

'Stelios'

In [ ]:
# Print number 10.10
print(10.10)

10.1

In [ ]:
# x is called variable
x = 10.20
name = "Stelios"

print(x)
print(name)

age = 22
last_name = "Jones"

10.2
Stelios

In [ ]:
# Ask the user what is their city
# Ask the user their first name
# Print the user name and then the user city
# * Use a variable

city = input("Where are you from? ")
name = input("What is your first name? ")
print(name,city)

Where are you from? 10
What is your first name? 234
234 10

In [ ]:
x = float(input("Enter a number: "))
y = int(input("Enter a second number: "))
print("Result is",x+y)

Enter a number: 34
Enter a second number: 12
Result is 46.0

In [ ]:
# Create a program, ask the user to give you 3 integers.
# Then find the product of the values (a*b*c)
# 1 2 3
# Print the result in the form The product is: 6
a=int(input("Enter a number: "))
b=int(input("Enter a number: "))
c=int(input("Enter a number: "))

print("The product is:", a*b*c)

Enter a number: 3
Enter a number: 2
Enter a number: 1
The product is: 6

In [ ]:
# Ask the user to enter two numbers
# Divide the numbers (float)
# a
# b
# a/b

a=float(input("Enter a number: "))
b=float(input("Enter a number: "))

print(a/b)

Enter a number: 6
Enter a number: 0

ZeroDivisionError: float division by zero

In [ ]:
x = float(input("Enter a number"))
y = float(input("Enter a number"))

if y==0:
  print("I cannot divide")
else:
  print(x/y)

Enter a number435
Enter a number34
12.794117647058824

In [ ]:
city = input("Enter a city: ")

if city=="Paris":
  print("Bonjour")
  print(10)
else:
  print("Hi!")
  print(100)

Enter a city: Paris
Bonjour
10

Exercise 1

Create a program to ask the user their name and their age.

If the user is over 18, then print you are an adult. If the user is less than 18 print, you are kid!

In [ ]:
name = input("Enter a name: ")
age = int(input("Enter an age: "))

if age>=18:
  print("Adult")
else:
  print("Kid")

Enter a name: 18
Enter an age: 18
Kid

In [ ]:
# > < >= <= <> != (not equal)

Create a program, ask the user to enter two numbers.

Print the maximum number.

In [ ]:
a = int(input("Enter a number"))
b = int(input("Enter a number"))

if a>b:
  print(a)
else:
  print(b)

Enter a number10
Enter a number10
10

In [ ]:
x = 10
y = 20

if x>y:
  print("x is greater than y")
elif x<y:
  print("x is less than y")
else:
  print("x is equal to y")

x is less than y

Create a program to ask the user to enter a score.
* if the score is less than 50 you failed.
* if the score is between 50 and 70 is pass.
* if the score is greater than 70 is distinction.

In [ ]:
score = int(input("Enter a score: "))

if score>0 and score<50:
  print("Fail")
elif score>=50 and score<70:
  print("Pass")
elif score>=70 and score<=100:
  print("Distinction")
else:
  print("Something is wrong!")

Enter a score: -23
Something is wrong!