In [ ]:
print("Stelios")

Stelios

In [ ]:
name = input("What is your name? ")
print("Hi",name)

What is your name? Tom
Hi Tom

In [ ]:
num = float(input("Enter a number: "))
print(num*5)

Enter a number: 5.23232
26.1616

In [ ]:
num = float(input("Enter a number: "))

if num>0:
  print("positive")
else:
  print("negative")

Enter a number: 345345
positive

In [ ]:
x = int(input("Enter a number: "))
operation = input("Enter an operation (+,-,*,/): ")
y = int(input("Enter a number: "))

if operation=="+":
  print(x+y)
elif operation=="-":
  print(x-y)
elif operation=="*":
  print(x*y)
elif operation=="**":
  print(x**y)
elif operation=="/" and y!=0:
  print(x/y)
else:
  print("I do not support this operation!")

Enter a number: 4
Enter an operation (+,-,*,/): **
Enter a number: 2
I do not support this operation!

In [ ]:
3**3

27

Ask the user to enter a number.

If the number is between 0 and 1 print the percentage of the number.

In any other case print, please enter a number between 0 and 1.

In [ ]:
num = float(input("Enter a number: "))

if num>=0 and num<=1:
  print("Percentage is",num*100,"%")
else:
  print("I cannot do it!")

Enter a number: 0.2
Percentage is 20.0 %

In [ ]:
text = "My name is Stelios and I live in London"
print(text)

My name is Stelios and I live in London

In [ ]:
print(text[3])

n

In [ ]:
name = "Tomas"

print(name[4])

s

In [ ]:
text = "My name is Stelios and I live in London"
print(text[-6])

L

In [ ]:
print(text[3:7])

name

In [ ]:
city = "London"
print(city[0:3])

Lon

In [ ]:
text = "My name is Stelios and I live in London"
print(text[-6:])

London

Ask the user to enter a city.
If the user enters a city starting with L capital, print "Starts with L capital"
else print something else.

In [ ]:
city = input("Enter a city: ")
if city[0]=="L":
  print("Starts with L")
else:
  print("asdasdas")

Ask the user to enter a phrase. If the phrase doesnt finish with dot (.) say, you need a dot! else say all good!

London is the capital of UK

In [ ]:
phrase = input("Enter a phrase: ")
if phrase[-1]!=".":
  print("You need a dot!")
else:
  print("All good!")

Enter a phrase: sdfsd sdfsd fsd f.
All good!